In [1]:
# Import dependencies
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import scipy.stats as st
from scipy.stats import linregress
pd.set_option('max_colwidth', 400)

In [2]:
# Read the data into a Pandas DataFrame
city_bike_df = pd.read_excel('Merged Data/Merged.xlsx')
city_bike_df.head()

,ride_id,rideable_type,started_at,ended_at,start_station_name,start_station_id,end_station_name,end_station_id,start_lat,start_lng,end_lat,end_lng,member_casual
0,8519841A9CD3EAD9,electric_bike,2023-04-01 00:00:00,2023-04-01 00:42:00,12 St & Sinatra Dr N,HB201,14 St Ferry - 14 St & Shipyard Ln,HB202,40.750604,-74.024020,40.752961,-74.024353,casual
1,AEECD9E6B391F964,classic_bike,2023-04-01 00:02:00,2023-04-01 00:12:00,Columbus Park - Clinton St & 9 St,HB501,City Hall - Washington St & 1 St,HB105,40.748285,-74.032490,40.737360,-74.030970,casual
2,C9D8BCB0EC5E8E50,classic_bike,2023-04-01 00:02:00,2023-04-01 00:05:00,6 St & Grand St,HB302,Adams St & 2 St,HB407,40.744398,-74.034501,40.739814,-74.036904,member
3,2BFEFAAD3D0D0256,classic_bike,2023-04-01 00:02:00,2023-04-01 00:34:00,Hudson St & 4 St,HB607,Hudson St & 4 St,HB607,40.740847,-74.028523,40.740973,-74.028603,casual
4,CE305DF6F95127F5,electric_bike,2023-04-01 00:03:00,2023-04-01 00:35:00,Hudson St & 4 St,HB607,Hudson St & 4 St,HB607,40.740973,-74.028603,40.740973,-74.028603,casual

In [3]:
city_bike_df["Time Difference (Minutes)"] = (city_bike_df["ended_at"] - city_bike_df["started_at"]).dt.total_seconds() / 60
city_bike_df.head()

,ride_id,rideable_type,started_at,ended_at,start_station_name,start_station_id,end_station_name,end_station_id,start_lat,start_lng,end_lat,end_lng,member_casual,Time Difference (Minutes)
0,8519841A9CD3EAD9,electric_bike,2023-04-01 00:00:00,2023-04-01 00:42:00,12 St & Sinatra Dr N,HB201,14 St Ferry - 14 St & Shipyard Ln,HB202,40.750604,-74.024020,40.752961,-74.024353,casual,42.0
1,AEECD9E6B391F964,classic_bike,2023-04-01 00:02:00,2023-04-01 00:12:00,Columbus Park - Clinton St & 9 St,HB501,City Hall - Washington St & 1 St,HB105,40.748285,-74.032490,40.737360,-74.030970,casual,10.0
2,C9D8BCB0EC5E8E50,classic_bike,2023-04-01 00:02:00,2023-04-01 00:05:00,6 St & Grand St,HB302,Adams St & 2 St,HB407,40.744398,-74.034501,40.739814,-74.036904,member,3.0
3,2BFEFAAD3D0D0256,classic_bike,2023-04-01 00:02:00,2023-04-01 00:34:00,Hudson St & 4 St,HB607,Hudson St & 4 St,HB607,40.740847,-74.028523,40.740973,-74.028603,casual,32.0
4,CE305DF6F95127F5,electric_bike,2023-04-01 00:03:00,2023-04-01 00:35:00,Hudson St & 4 St,HB607,Hudson St & 4 St,HB607,40.740973,-74.028603,40.740973,-74.028603,casual,32.0

In [4]:
# Start ID Group
start_grouped = city_bike_df.groupby(["start_station_id"])

# Start Stats
avg_start_lat = start_grouped.mean()["start_lat"]
avg_start_lng = start_grouped.mean()["start_lng"]
start_id_count = start_grouped.count()["ride_id"]

#End ID Group
end_grouped = city_bike_df.groupby(["end_station_id"])

#End Stats
avg_end_lat = end_grouped.mean()["end_lat"]
avg_end_lng = end_grouped.mean()["end_lng"]
end_id_count = end_grouped.count()["ride_id"]
    
#"True" positions (Failed due to bad logic)
avg_id_lat = (avg_start_lat+avg_end_lat)/2
avg_id_lng = (avg_start_lng+avg_end_lng)/2

In [5]:
start_summary = pd.DataFrame({"Start Lat":avg_start_lat,
                              "Start Lng":avg_start_lng,
                              "Start ID Count":start_id_count})
start_summary.reset_index(drop=False)
start_summary.rename(columns={"index": "Stations"})

end_summary = pd.DataFrame({"End Lat":avg_end_lat,
                              "End Lng":avg_end_lng,
                              "End ID Count":end_id_count})
end_summary.reset_index(drop=False)
end_summary.rename(columns={"index": "Stations"})

avg_summary = pd.DataFrame({"Average Lat":avg_id_lat,
                            "Average Lng":avg_id_lng})
avg_summary.reset_index(drop=False)
avg_summary.rename(columns={"index": "Stations"})

         Average Lat  Average Lng
4060.09    40.705258   -74.014228
4243.01    40.708283   -74.027791
4249.1     40.708566   -74.013432
4281.08    40.708149   -74.011323
4317.05    40.709082   -73.976602
...              ...          ...
JC108      40.706610   -74.086704
JC109      40.731031   -74.064437
JC110      40.715391   -74.049692
JC115      40.719394   -74.043102
JC116      40.716369   -74.034354

[258 rows x 2 columns]

In [6]:
start_summary.to_csv("Merged Data/start_summary_copy.csv", index=True)
end_summary.to_csv("Merged Data/end_summary_copy.csv", index=True)
avg_summary.to_csv("Merged Data/avg_summary_copy.csv", index=True)
city_bike_df.to_csv("Merged Data/final.csv", index=True)